<div class="container">
  <div class="row">

    <div class="panel panel-default">

      <div class="panel panel-heading">
        <h3 class="panel-title"><strong><%= "#{@all_friends.count}" %></strong> friends</h3>
      </div>

      <div class="panel-body">
        <% @all_friends.each do |friend| %>
          <%= link_to user_path(friend) do %>
            <div class="col-md-3 col-sm-6">
              <div class="my-friend">
                <div>
                  <img src="https://tokyopopline.com/images/2017/04/Main-770x433@2x.jpg" class="img-responsive center-block">
                </div>
                <h5><%= friend.name %></h5>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      
    </div>

  </div>
</div>